.root{
    /*-fx-background-color: lightblue;*/
    -fx-background-image: url("/Images/a.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

/*
#backToAbout{
     -fx-background-image: url("/Images/backB.jpg");
}*/

#backToAbout:hover{
    -fx-background-image: url("/Images/backB.jpg");
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

Button#backToAbout {
    -fx-background-radius: 100;
    -fx-background-color: transparent;
}

